<div class='white'>
  <h1 class="pager">whatsgood</h1>
<!-- All team members with descriptions and contact/social info. -->
<!-- story behind the app -->
<!-- Tech used in the App -->
  <div class="row">
    <div class="col-xs-4">
      <h4>Gems</h4>
      <ul class="list-inline">
        <% @gems_used.each do |_gem| %>
          <li> <%= _gem %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-xs-4">
      <h4>APIs</h4>
        <ul class="list-inline">
          <% @apis_used.each do |_api| %>
            <li> <%= _api %></li>
          <% end %>
        </ul>
    </div>
    <div class="col-xs-4">
      <h4>Javascript</h4>
        <ul class="list-inline">
          <% @js_used.each do |_js| %>
            <li> <%= _js %></li>
          <% end %>
        </ul>
    </div>
  </div>

  <!-- link to devpoint -->
  <div class="dpl-link centered">
    <%= link_to image_tag('DPL-navbar-purple.gif', alt: "DevPoint Labs", class: "img-responsive"), 'http://www.devpointlabs.com/'%>
  </div>
</div>
