<div class='white'>
  <h1>StaticPages#about</h1>

  <h3>Has Many Relationships</h3>
  <ul>
    <% @has_many_data.each do |stat| %>
      <li> <%= stat %></li>
    <% end %>
  </ul>

  <h3><%= @lines_of_code %> lines of code in the app</h3>
  
</div>