<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h4>Message From:</h4>
		<p><%= @name %>, <%= @email_address %></p>
		<h4>Message:</h4>
		<p><%= @message %></p>
	</body
</html>