<% @events.each do |event| %>
  <div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left"><%= link_to (sanitize event['title']), event['url'] %></h3>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-danger"><i class="fa fa-close"></i>Close</button>
        <button type="button" class="btn btn-success"><i class="fa fa-star"></i>Favorite</button>
      </div>
    </div>
    <div class="list-group">
      <div class="list-group-item">
        <p class="list-group-item-text">Address</p>
        <h4 class="list-group-item-heading"><%= sanitize event['venue_address'] %></h4>
      </div>
      <div class="list-group-item">
        <p class="list-group-item-text">Occupation</p>
        <h4 class="list-group-item-heading">Web Developer</h4>
      </div>
      <div class="list-group-item">
        <p class="list-group-item-text"><%= sanitize event['description'] %></p>
      </div>
    </div>
  <div class="panel-footer">
    <small>Built with Bootcards - Base Card</small>
  </div>
</div>
<% end %>


