<h1>Users Index</h1>

<table class="table">
  <tr>
    <th>Email</th>
    <th>Admin</th>
    <th></th>
  </tr>
  <% User.all.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.is_admin ? 'Admin' : ''  %></td>
      <td><%= link_to edit_user_registration_path, class: "btn btn-primary btn-sm" do %>
          <i class="fa fa-pencil"> Edit Profile</i>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>  

