<h1>Users#profile</h1>
<p>Find me in app/views/users/profile.html.erb</p>

<p>Lat: <%= @user.latitude %></p>
<p>Long: <%= @user.longitude %></p>
<p>Address: <%= @user.address %></p>

<%= link_to 'Events', user_events_path, class: 'btn btn-default' %>