<div class="panel panel-default centered">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">Forgot your Password?</h3>
  </div>  
  <div class="panel-body">
<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>
        
      <div class="form-group form-group-lg">
        
          <%= f.input :email, required: true, autofocus: true %>
        
      </div>

      
  </div>

    <div class="panel-footer">
    	<div class="form-group form-group-lg">
        <div class="col-xs-8">
          <%= f.button :submit, "Send Me Reset Password Instructions" %>
        </div>
      </div>
    </div>
    <% end %>

</div>  

