<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h3 class="panel-title">
      <%= link_to (sanitize event['title']), event['url'] %>
    </h3>
  </div>
  <div class="list-group">
    <div class="list-group-item">
      <h4 class="event-description-button">Description</h4>
      <div class="event-description-body show">
        <% if event['description'] %>
          <p class="list-group-item-text"><%= sanitize event['description']%></p>
        <% else %>
          <p class="list-group-item-text">No Description for this event</p>  
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel-footer">
  </div>
</div>
