/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */
$body-bg: #36364A;
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;
// $brand-success: #3EAB45;
$brand-danger: #3C608A;
$grid-gutter-width: 23px;
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.event-image{
  background-color: black;
}

.allmaps {
  height: 100%;
  margin-left: -12px;
  color: $text-color;
}
// few map tweakz -miker //
.allmaps div {
  border-radius: .25em; 
}

#location_button {
  width: 50%;
}

a:hover {
  text-decoration: none;
  color: steelblue;
}

.panel-title {
  font-size: 1.4em;
  line-height: 1.4em;
}

.panel {
  max-width: 640px;
  color: $text-color;
  border: none;
}

.categories {
  max-width: 400px;
}

input{
  color: $text-color;
}

.card-date{
  font-size: 1.23em;
  font-weight: bold;
}

.white {
  color: white;
}

.profile {
  max-width: 982px;
  min-height: 374px;
  margin: 15px;
}

.feed {
  overflow: auto;
}

.following{
  max-height: 162px;
  overflow: auto;
}

.login {
  max-width: 480px;
}

.profile-photo {
  padding: 30px;
}

.big {
  max-width: 100%;
}

.bio {
  min-height: 297px;
}

.list-group-item {
  padding: 10px;
  margin: 0;
}

.image-block {
  margin: 0;
  padding: 0;
}

.centered {
  margin: 0 auto !important;
}

// Mike Small Style Tweakz //

nav.navbar {
  line-height: 1.125em; 
}

.cat-boxes{
  padding: 2em 0em;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.no-border {
  border: none;
}

.full-card-description {
  max-height: 200px;
  overflow: auto;
}

.favorited-list {
  font-size: 1.23em;
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid #dddddd;
}

.primary-color {
  color: $brand-primary;
}
.warning-color {
  color: $brand-warning;
}

.spinner {
  margin: 20px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #FFF;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.eventful-badge,
.eventful-badge * {
  margin: 0             !important;
  padding: 0            !important;
  border: 0             !important;
  text-align: center    !important;
  color: #CCC           !important;
  font-family: Arial    !important;
  text-decoration: none !important;
}

.eventful-large {
  position: relative    !important;
  width: 140px          !important;
  font-size: 15px       !important;
  line-height: 17px     !important;
  font-weight: bold     !important;
}

