#welcome {
	text-align: center;
	color: #36364A; 
	font-weight: bolder; 
	font-size: 5em; 
	font-family: 'Josefin Sans', sans-serif;
}

#welcome {
    position: absolute;
    left: -10em;
    width: auto;
    height: auto;
    background: transparent;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: .25s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
	25% { left: -5em; }
	50% { left: 0em; }
	75% { left: 5em; }
    100% { left: 10em; }
}

@keyframes slide {
    25% { left: -5em; }
	50% { left: 0em; }
	75% { left: 5em; }
    100% { left: 10em; }
}