// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    height: 98%;
}



#multi_marks{
  min-width: 275px;
  min-height: 413px;
}

.events-list {
  height: 90vh;
  overflow: auto;
}

.files-by-loc {
  height: 200px;
  overflow: auto;
}

.stats {
  color: white;
}

.dpl-link {
  max-width: 250px; 
}

.about {
  max-width: 768px;
}

.story {
  font-size: 18px;
}

.about-photo {
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 40px; 
}

.about-list {
  font-size: 1.25em;
  a {
    color: white;
  }
}

.fav-card-list {
  max-height: 355px;
  overflow: auto;
}