<h1>Categories index</h1>
<%= link_to 'Pull all categoies from Eventful', update_categories_path, data: {confirm: 'You sure?'}, class: 'btn btn-primary' %>
<table>
  <tr><th><h3>Category</h3></th></tr>

  <% @categories.each do |category|%>
    <tr>
      <td><%= category.name.titleize %></td>
       <td><%= link_to 'Delete', category_path(category), method: :delete, data: {confirm: 'You sure?'} %></td>
    </tr>
  <% end %>
</table>


